body{
    font-family: 'Poppins', sans-serif;
}
/*----------- icon css------ */
.head{
    display: flex;
    grid-column-gap: 20px;
}
.starting-icons{
    display: inline-flex;
}
/* ------------
     my first bog css
----------- */
.first-blog{
    display: flex;
    padding: 30px;
    grid-column-gap: 200px;
    margin-left: 70px;
}
.first-box{
    width: 400px;
    height: 200px;
}
.heading{
    font-size: 40px;
}
.scound-box img{
    width: 440px;
    height: 414px;
    
}
.preebook{
    font-size: 20px;
    background-color:  #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    margin-top: 50px;
}
.link{
    text-decoration: none;
    color: white;

}
.scound-blog{
    display: flex;
    grid-column-gap: 25px;
    justify-content: center;
    border: 2px solid gray;
    padding: 20px;
    margin: 20px 200px;
}
.scound-heading{
    font-size: 20px;
    
}
.images-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    margin: 40px;
}
.fas.fa-star{
    color: #FB8200;
    width: 11.07px;
    height: 10.32px;
}
.fas.fa-star-half-alt{
    color: #FB8200;
    width: 11.07px;
    height: 10.32px;
}