body{
    font-family: 'Poppins', sans-serif;
    position: absolute;
}
/*----------- icon css------ */
.starting-point{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
}
/* ---------main blogs--------- */
.full-blog{
    background-color: white;
    margin: 20px;
    border: 2px solid gainsboro;
}
.head{
    display: flex;
    grid-column-gap: 20px;
}
.starting-icons{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
/* ------------
     my first bog css
----------- */
.first-blog{
    display: flex;
    padding: 30px;
    grid-column-gap: 200px;
    margin-left: 70px;
}
.first-box{
    width: 400px;
    height: 200px;
}
.heading{
    font-size: 40px;
}
.scound-box img{
    width: 440px;
    height: 414px;
    
}
.preebook{
    font-size: 20px;
    background-color:  #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    margin-top: 50px;
}
.fas.fa-arrow-right{
    padding-left: 10px;
}
.link{
    text-decoration: none;
    color: white;

}
/* ---------------------
               scound blog css---------------------- */
.scound-blog{
    display: flex;
    grid-column-gap: 25px;
    justify-content: center;
    border: 2px solid gray;
    padding: 20px;
    margin: 20px 200px;
}
/* -------------------
              my third blog----------------------- */           
#scound-heading{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -40px;
}
/* ----------------images boxes------------------------ */
.images-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    margin: 40px;
}
.images-box{
    padding-left: 90px;
}
.product{
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: white;
    margin: 10px;
}
.fas.fa-star{
    color: #FB8200;
    width: 11.07px;
    height: 10.32px;
}
.fas.fa-star-half-alt{
    color: #FB8200;
    width: 11.07px;
    height: 10.32px;
}
/* my -----------fourth blog----------- */
.fourth-blog{
    display: flex;
    padding: 30px;
    grid-column-gap: 200px;
    margin-left: 70px;
}
.latest{
    font-size: 20px;
}
.latest-products{
    padding: 50px;
}
.latest-products img{
    height: 350px;
    width: 350px;
}
.scound-link{
    text-decoration: none;
    font-size: 20px;
    background-color:  #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    margin-top: 50px;
}
footer{
    background-color: rgb(4, 4, 23);
    color: white;
    text-align: center;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.social{
    
}
.fab{
    grid-raw-gap: 20px;
}
/* ----------------media query------------------------------ */
/* -------mobile query-------- */
@media only screen and (max-width: 688px) {
    .scound-box{
        position: absolute;
        width: 257px;
        height: 257px;
        left: 51px;
        top: 81px;
    }
    .first-box{
        position: absolute;
        width: 404px;
        height: 222px;
        left: -22px;
        top: 352px;
    }
    .scound-blog{
        position: absolute;
        width: 275.21px;
        height: 61.46px;
        left: 42.79px;
        top: 624.5px;
    }
    .images-box{
        display: none;
    }
    .fourth-blog{
        display: none;
    }
}